{% extends "layout/application.html" %}

{% block title %}Code Vault | {{ code_record.code_language|escape }} snippet {% endblock %}

{% block description %} {{ code_record.code_language|escape }} snippet, added {{ code_record.code_time|date:"j F Y" }} {% endblock %}

{% block topmenu %}
  <li><a href="/">Home</a></li>
  <li><a href="/snippets">Snippets</a></li>
  <li><a data-toggle="modal" href="#about">About</a></li>
  <li><a target="_blank" href="https://chrome.google.com/webstore/detail/jlkbbpmihbehjcabecbknmddmknconbf">Chrome Extension</a></li>
{% endblock %}

{% block content %}

<h1>{% if code_record.code_language != "null" %} {{ code_record.code_language|escape|title }} {% else %} Saved {% endif %}snippet</h1>
<h4>{{ code_record.code_time|date:"j F Y" }}</h4>

{% if code_record %}
<fieldset class="well">

	<pre><code id="code_snippet" {% if code_record.code_language %} class="{{ code_record.code_language }}" {% endif %}>{{ code_record.code_text|escape }}</code></pre>
    <h3>Sharing</h3>
        <p>Codevault link: <a id="share_url" href="http://{{ share_url }}">http://{{ share_url }}</a></p>
    <p><button id="share_button" class="btn btn-mini btn-primary"><i class="icon-globe icon-white"></i> Copy link</button>&nbsp;&nbsp;<button id="share_code_button" class="btn btn-mini btn-primary"><i class="icon-share icon-white"></i> Copy snippet</button></p>
    <p>Or simply copy and paste these two lines into your website:</p>
    <div id="embed"><textarea class="span6" rows="3" id="embed_code"><div class="codevault-snippet" data="{{ data_id }}"></div>
<script src="http://cdv.lt/static/js/snippetm.js"></script></textarea>
<p><button id="script_code_button" class="btn btn-mini btn-primary"><i class="icon-share icon-white"></i> Copy embedded script</button></p></div>
	<p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://{{ share_url }}" data-counturl="http://{{ current_url }}" data-text="Check this snippet on the #CodeVault" data-lang="en">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
</fieldset>

<div class="fb-comments" data-href="http://{{ share_url }}" data-width="470" data-num-posts="2"></div>

<!-- Google Code for snippet_page Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 996413370;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "ePIFCLbTnwQQup-Q2wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/996413370/?value=0&amp;label=ePIFCLbTnwQQup-Q2wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


{% endif %}

{% endblock %}

{% block jscript %}
<script src="/static/js/parse.js"></script>{% endblock %}
