{% extends "layout/application.html" %}

{% block title %}Code Vault{% endblock %}

{% block topmenu %}
  <li><a href="/">Home</a></li>
  <li><a data-toggle="modal" href="#about">About</a></li>
{% endblock %}

{% block content %}

<h1>Welcome to Code Vault</h1>
<p>Yet another code storage.</p>

{% if code_record %}
<fieldset class="well">
	<p>Codevault link: <a id="share_url" href="http://{{ share_url }}">http://{{ share_url }}</a></p>
	<p><button id="share_button" class="btn btn-mini btn-primary"><i class="icon-globe icon-white"></i> Copy link!</button>&nbsp;&nbsp;<button id="share_code_button" class="btn btn-mini btn-primary"><i class="icon-share icon-white"></i> Copy snippet!</button></p>
	<pre><code id="code_snippet" {% if code_record.code_language %} class="{{ code_record.code_language }}" {% endif %}>{{ code_record.code_text|escape }}</code></pre>
	<p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://{{ share_url }}" data-counturl="http://{{ current_url }}" data-text="Check this snippet on the #CodeVault" data-lang="en">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
</fieldset>
{% endif %}

{% endblock %}

{% block jscript %}
<script>
$(document).ready(function(){
	
	$('button#share_button').zclip({
	        path:'/static/js/ZeroClipboard.swf',
	        copy:$('a#share_url').attr("href")
	    });
	$('button#share_code_button').zclip({
		        path:'/static/js/ZeroClipboard.swf',
		        copy:$('code#code_snippet').text()
		    });
});
</script>
{% endblock %}
