{% extends "layout/application.html" %}

{% block title %}Code Vault | Recent 30 Snippets{% endblock %}

{% block description %}Recent 30 snippets{% endblock %}

{% block keywords %} {% for coderecord in coderecords %} {{ coderecord.code_language|escape }}, {% endfor %} {% endblock %}

{% block topmenu %}
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/snippets">Snippets</a></li>
  <li><a href="/api">API</a></li>
  <li><a data-toggle="modal" href="#about">About</a></li>
  <li><a target="_blank" href="https://chrome.google.com/webstore/detail/jlkbbpmihbehjcabecbknmddmknconbf">Chrome Extension</a></li>
{% endblock %}
{% block content %}

<h1>Recent snippets</h1>

<p><form action="http://www.google.com" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-6377547385802801:7838954135" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="55" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form></p>

Page #1 <a rel="next" href="/snippets/{{ nextPage }}"> &raquo; </a>
<p></p>

{% for coderecord in coderecords %}
    <p>
        <a href="/{{ coderecord.id|url_base62 }}">{{ coderecord.code_time|date:"j F Y" }}</a><strong> | {{ coderecord.code_language|escape }}</strong></p>
    <p>{% if forloop.counter0|divisibleby:10 %}
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-6377547385802801"
           data-ad-slot="4885487736"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      {% endif %}</p>
    <p><pre><code>{{ coderecord.code_text|escape }}</code></pre>
    </p>
    <p>&nbsp;</p>
{% endfor %}

Page #1 <a rel="next" href="/snippets/{{ nextPage }}"> &raquo; </a>

{% endblock %}
