{% extends "layout/application.html" %}

{% block title %}Code Vault | About{% endblock %}
{% block topmenu %}
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/about">About</a></li>
{% endblock %}
{% block content %}

<h1>Welcome to Code Vault</h1>
<p>Yet another code storage.</p>
<h4>What is it?</h4>
<p>Here is the "Code Vault", a storage of code snippets with a syntax highlighting and<br/>a sharing ability.</p>
<h4>What's inside?</h4>
<p>This is a result of my experiments with <a href="http://www.erlang.org" target="_blank">Erlang</a> and <a href="http://www.chicagoboss.org"  target="_blank">ChicagoBoss</a> framework.</p>
<h4>What's next?</h4>
<p>Follow me on twitter: <a href="http://twitter.com/desoulter" target="_blank">@desoulter</a> :-)</p>

{% endblock %}
