{% extends "layout/application.html" %}

{% block title %}Code Vault{% endblock %}
{% block content %}

<h1>Welcome to Code Vault</h1>
<p>Yet another code storage.</p>
<ul class="nav nav-tabs" id="myTab">
  <li><a href="#code" data-toggle="tab">Code</a></li>
  <li><a href="#preview" data-toggle="tab">Preview</a></li>
</ul>
		  
<form class=" form-inline" action="/" method="post" id="code_submit">
<fieldset>
<div class="tab-content">
	<div class="tab-pane fade in active" id="code">
		    <div id="text_container" class="control-group {% if errors %}error{% endif %}">
		      <div class="controls">
				<textarea class="span10 wdr" id="textarea" rows="14" name="code_data" ></textarea>
				<p class="help-block">Paste your code here.</p>
		
		      </div>
		    </div>
	</div>
	<div class="tab-pane fade in" id="preview">
		<pre><code id="code_snippet"></code></pre>
		<p><select id="lang_list" name="language_list"></select></p>
	</div>
</div>		
<button class="btn btn-primary" id="store_button" type="submit"><i class="icon-hdd icon-white"></i> Store it!</button>
</fieldset>
</form>

{% endblock %}

{% block jscript %}
<script>
	function checkLang() {
		data = $("#code_snippet").text();
		hl = hljs.highlightAuto(data);
		firstLng = hl.language;
		//secondLng = hl.second_best.language;
		var lang = new Object();
		lang.firstLanguage  = firstLng;
		//lang.secondLanguage = secondLng;
		return lang;
	}
	
	
	$(function () {
	    $('#myTab a:first').tab('show');
	  });
	
	$('a[data-toggle="tab"]').on('show', function (e) {

		if ($(e.target).attr("href")=="#preview") {
			manualSelect = true;
			text = $("#textarea").val();
			if (text.length > 0) {
				if (text != currentText ) {				
					currentText = text;
					$("#code_snippet").text(text);	
					$('#code_snippet').each(function(i, e) {hljs.highlightBlock(e)});
				
					var current = checkLang();

					$("#lang_list option[value="+current.firstLanguage+"]").attr('selected', 'selected');
				}
			} else {
				e.preventDefault();
				$('#myTab a:first').tab('show');
				$("#text_container").addClass("error");
			}
		} else {
			$("#code_snippet").removeClass();
		}
	});
	
	var currentText = "";
	var manualSelect = false;
	
	$(document).ready(function(){
		var languages = hljs.LANGUAGES;
		
		$("#lang_list").append('<option value="no-highlight">plain</option>');
		for(var index in languages) {
			$('#lang_list').append('<option value="'+index+'">'+index+'</option>');
		}
		
		$("#textarea").click(function() {
			if($("#text_container").hasClass("error"))
				$("#text_container").removeClass("error");
		});
		
		$("#code_submit").submit(function(){
			if (!manualSelect) {
				text = $("#textarea").val();
				$("#code_snippet").text(text);	
				$('#code_snippet').each(function(i, e) {hljs.highlightBlock(e)});
			
				var current = checkLang();

				$("#lang_list option[value="+current.firstLanguage+"]").attr('selected', 'selected');
			};
			return true;
		});
		
		$("#lang_list").change(function(){
			$("#code_snippet").removeClass();
			$("#code_snippet").text(text);
			$("#code_snippet").addClass($(this).val());
			$('#code_snippet').each(function(i, e) {hljs.highlightBlock(e)});
		});
		
	});

	
</script>
{% endblock %}
