{% extends "layout/application.html" %}

{% block title %}Code Vault{% endblock %}
{% block content %}

<h1>Welcome to Code Vault</h1>
<p>Yet another code storage.</p>
<form class="well form-inline" action="/" method="post">
  <fieldset>
    <div class="control-group {% if errors %}error{% endif %}">
      <div class="controls">
		<textarea class="span10" id="textarea" rows="10" name="code_data" ></textarea>
		<p class="help-block">Paste your code here.</p>
		<button class="btn btn-primary"><i class="icon-hdd icon-white"></i> Store it!</button>
      </div>
    </div>
  </fieldset>
</form>

{% endblock %}
